@font-face {
  font-family: HFNSS;
  src: url("https://cdn.rawgit.com/Chadtech-Online-1/Chadtech-Online-1.github.io/master/HFNSS.ttf");
}
@font-face {
  font-family: HFNSS1;
  src: url("https://cdn.rawgit.com/Chadtech/personal-elm-boilerplate/34fb7992/development/HFNSSvector1.ttf");
}
@font-face {
  font-family: HFGAM;
  src: url("./hfgam.ttf");
}
@font-face {
  font-family: HFTIN;
  src: url("./hftin.ttf");
}
@font-face {
  font-family: HFLLG;
  src: url("https://cdn.rawgit.com/Chadtech-Online-1/Chadtech-Online-1.github.io/e7b402f9/HFLLG.ttf");
}
body {
  background: #2c2826;
  padding: 0;
  margin: 0;
}
.main {
  width: 100%;
}
@font-face {
  font-family: HFNSS;
  src: url("https://cdn.rawgit.com/Chadtech-Online-1/Chadtech-Online-1.github.io/master/HFNSS.ttf");
}
@font-face {
  font-family: HFNSS1;
  src: url("https://cdn.rawgit.com/Chadtech/personal-elm-boilerplate/34fb7992/development/HFNSSvector1.ttf");
}
@font-face {
  font-family: HFGAM;
  src: url("./hfgam.ttf");
}
@font-face {
  font-family: HFTIN;
  src: url("./hftin.ttf");
}
@font-face {
  font-family: HFLLG;
  src: url("https://cdn.rawgit.com/Chadtech-Online-1/Chadtech-Online-1.github.io/e7b402f9/HFLLG.ttf");
}
body {
  background: #2c2826;
  padding: 0;
  margin: 0;
}
.main {
  width: 100%;
}
.archive-body {
  background-color: #06120e;
  border-top: 2px solid #131610;
  border-left: 2px solid #131610;
  border-right: 2px solid #57524f;
  border-bottom: 2px solid #57524f;
  margin-top: 8px;
  margin-left: 8px;
  position: absolute;
  left: calc(100% - 450px);
  top: 58px;
  width: 426px;
  height: calc(100vh - 80px);
  overflow: scroll;
}
.title-listing {
  float: left;
  width: 100%;
}
.title-listing:hover {
  background-color: #143b2e;
  color: #e0d6ca;
}
.title-listing:active {
  color: #e0d6ca;
  background-color: #807672;
}
.archive-buttons {
  width: 426px;
  height: 48px;
  position: absolute;
  bottom: 0px;
}
.archive-button {
  display: inline-block;
  padding: auto;
  height: 44px;
  width: 209px;
  text-align: center;
  border-top: 2px solid #57524f;
  border-left: 2px solid #57524f;
  border-right: 2px solid #131610;
  border-bottom: 2px solid #131610;
  background-color: #2c2826;
  line-height: 44px;
  cursor: pointer;
}
.archive-button.nulled {
  color: #807672;
}
.archive-button.nulled:hover {
  color: #807672;
}
.archive-button:hover {
  color: #e0d6ca;
}
.archive-button:active {
  border-top: 2px solid #131610;
  border-left: 2px solid #131610;
  border-right: 2px solid #57524f;
  border-bottom: 2px solid #57524f;
}
.field {
  border-top: 2px solid #131610;
  border-left: 2px solid #131610;
  border-right: 2px solid #57524f;
  border-bottom: 2px solid #57524f;
  outline: none;
  font-family: HFNSS;
  color: #b0a69a;
  font-size: 2em;
  background: #06120e;
  -webkit-font-smoothing: none;
  font-smooth: none;
  height: 29px;
}
.nav-bar {
  width: calc(100% - 12px);
  margin: 2px;
  margin-top: 8px;
}
.nav-item {
  margin-right: 18px;
  padding: 4px;
  cursor: pointer;
}
.nav-item.selected {
  color: #e0d6ca;
}
.nav-item:hover {
  background-color: #807672;
  color: #e0d6ca;
}
.nav-item:active {
  background-color: #e0d6ca;
  color: #131610;
}
a {
  -webkit-font-smoothing: none;
  margin: 0;
  font-family: hfnss;
  color: #b0a69a;
  font-size: 2em;
  text-decoration: none;
}
p {
  font-family: hfnss;
  color: #b0a69a;
  -webkit-font-smoothing: none;
  margin: 0;
  padding: 0;
  font-size: 2em;
}
.big {
  font-size: 4em;
}
.page-title {
  font-family: hfnss1;
  color: #b0a69a;
  font-size: 6em;
  -webkit-font-smoothing: subpixel-antialiased;
}
.post-body {
  background-color: #06120e;
  border-top: 2px solid #131610;
  border-left: 2px solid #131610;
  border-right: 2px solid #57524f;
  border-bottom: 2px solid #57524f;
  margin-top: 8px;
  margin-left: 8px;
  width: calc(100% - 466px);
  height: calc(100vh - 80px);
  overflow: scroll;
}
.post-section {
  padding: 4px;
  margin-bottom: 4px;
}
.even {
  background-color: #071d17;
}
.logic p {
  font-family: HFLLG;
}
.title {
  font-size: 2em;
}
.title-bar {
  height: 20px;
  width: calc(100% - 12px);
  background-color: #b0a69a;
  padding: 4px;
  margin: 2px;
}
.title-bar p {
  color: #131610;
  top: 8px;
}
